# Data Import Else Where, SQL etc.

In [ ]:
# this file dedicate to organize for major codes that can be used use to import from external Schemas/host etc syntax
# try to see if it can be used to import data and practice sql coding.

In [6]:
# from sqlalchemy import create_engine
# import sqlalchemy
import mysql.connector

In [ ]:

username = 
pwd = 
qhost = 
qdatabase = 

# Connect to MySQL server
cnx = mysql.connector.connect(user=username, password= pwd,
                              host= qhost,
                              database= qdatabase )

# Create a cursor object
cursor = cnx.cursor()

# Execute SQL query
cursor.execute("SELECT * FROM table")

# Fetch results
results = cursor.fetchall()

# Close cursor and connection
cursor.close()
cnx.close()

In [ ]:
# Things to study for the itv:


mysql: 

datediff()
coalesce(val1, val2_if_val1_is_null)
Cross join
% (remainder sign)
ifnull(col, 0)
sum(case when …)
date_sub(date_col, interval # day) 
group_concat(distinct product order by product asc separator ',') 
left(col, nbr_from_left), right(col, nbr_from_right)
regexp()
if(condition, “yes”, “no”) as triangle

substr(col, star_pos, end_pos)
lag() over (partition by … over by …)

with uniq_category as (
    select 'High Salary' as category
    union all 
    select 'Average Salary'
    union all 
    select 'Low Salary' 
),

COUNT(*) OVER (ORDER BY visited_on ROWS BETWEEN 6 PRECEDING AND CURRENT ROW)
round(sum(amount) OVER (ORDER BY visited_on ROWS BETWEEN 6 PRECEDING AND CURRENT ROW),2)

         
(duration_seconds / SUM(duration_seconds) OVER (PARTITION BY start_terminal)) * 100
         
round(date_val / (lag(date_val) over () ) *100,2)
Limit 1 offset 1 #get the second one from top

start_time < '2012-01-08'

# both focus on assigning same # to rows with same rank, rank() will have skipped # after in subsequent rank val, while dense_rank() strictly have rank()+1 followed aftter 
# dense_rank() 
rank()
dense_rank() 

lag(col, nbr_row_lag)
lead(col, nbr_row_lead)
     
         
NTILE(4) OVER
(PARTITION BY start_terminal ORDER BY duration_seconds)