# Data Manipulation

In [1]:
import pandas as pd
import numpy as np

In [2]:
 # leetcode medium string compression

# Given a list of strings, find the smallest unique substring for each string.

In [3]:
# Given a list of strings, find the smallest unique substring for each string.

lst = ["hello", "world", "apple", "banana", "cat", "dog", "moon", "sun", "rainbow"]

[len(set(x)) for x in lst]

def smallest_uniq_substring(lst):
    
    lst_item_uniq_cnt = [len(set(x)) for x in lst]
    min_uniq_cnt = float('inf')
    min_uniq_idx = -1
    
    min_uniq_ct_list = []
    min_uniq_idx_list = []

    for idx, word in enumerate(lst):
        # print('idx',idx)
        uniq_char = set(word)
        uniq_cnt = len(uniq_char)
    
        if uniq_cnt < min_uniq_cnt:
            min_uniq_cnt = uniq_cnt
            
    idx_has_min_uniq_ct = [index for index, cnt in enumerate(lst_item_uniq_cnt) if cnt == min_uniq_cnt]
    return(idx_has_min_uniq_ct)
            
index_has_min_uniq_ct = smallest_uniq_substring(lst)

[lst[idx] for idx in index_has_min_uniq_ct]
# print(index_has_min_uniq_ct)

['banana', 'cat', 'dog', 'moon', 'sun']

In [4]:
[len(set(x)) for x in lst]

[4, 5, 4, 3, 3, 3, 3, 3, 7]

# join all these objects together by user_id and convert into df? then try to feature engineer later for ML

In [5]:
# join all these objects together by user_id and convert into df? then try to feature engineer later for ML

# column_info = [
#     {"user_id": int},
#     {"age": int},
#     {"gender": str},
#     {"income": float},
#     {"credit_score": int},
#     {"fraud_label": str}
# ]

# data = [
#     [1, 35, "Male", 50000.0, 700, "Not Fraud"],
#     [2, 45, "Female", 60000.0, 720, "Not Fraud"],
#     [3, 30, "Male", 45000.0, 680, "Fraud"],
#     [4, 50, "Male", 70000.0, 750, "Not Fraud"],
#     [5, 40, "Female", 55000.0, 710, "Fraud"]
# ]

# user_labels = [
#     [1, "Not Fraud"],
#     [2, "Not Fraud"],
#     [3, "Fraud"],
#     [4, "Not Fraud"],
#     [5, "Fraud"]
# ]


column_info = [
    {"user_id": int},
    {"age": int},
    {"gender": str},
    {"income": float},
    {"credit_score": int},
]

data = [
    [1, 35, "Male", 50000.0, 700,],
    [2, 45, "Female", 60000.0, 720,],
    [3, 30, "Male", 45000.0, 680, ],
    [4, 50, "Male", 70000.0, 750, ],
    [5, 40, "Female", 55000.0, 710,]
]

user_labels = [
    [1, "Not Fraud"],
    [2, "Not Fraud"],
    [3, "Fraud"],
    [4, "Not Fraud"],
    [5, "Fraud"]
]

In [6]:
# simple create_df without data transformation
def create_df(column_info, data, user_labels):
    
    rows = []
    
    # i = 5
    for i in range(len(data)):
        
        row = {}
        # j = 5
        for j in range(len(column_info)):
            
            col_name =  list(column_info[j].keys())[0]
            row[col_name] = data[i][j]
            # print(col_name)
            # print(data[i][j])
            
        
        row['user_id'] = user_labels[i][0]
        row['label'] = user_labels[i][1]       

        print(row)
        rows.append(row)
    
    
    return(rows)

list_dict = create_df(column_info, data, user_labels)


# return a list of dictionary; list_dict
print(list_dict)
df = pd.DataFrame(list_dict)
df

{'user_id': 1, 'age': 35, 'gender': 'Male', 'income': 50000.0, 'credit_score': 700, 'label': 'Not Fraud'}
{'user_id': 2, 'age': 45, 'gender': 'Female', 'income': 60000.0, 'credit_score': 720, 'label': 'Not Fraud'}
{'user_id': 3, 'age': 30, 'gender': 'Male', 'income': 45000.0, 'credit_score': 680, 'label': 'Fraud'}
{'user_id': 4, 'age': 50, 'gender': 'Male', 'income': 70000.0, 'credit_score': 750, 'label': 'Not Fraud'}
{'user_id': 5, 'age': 40, 'gender': 'Female', 'income': 55000.0, 'credit_score': 710, 'label': 'Fraud'}
[{'user_id': 1, 'age': 35, 'gender': 'Male', 'income': 50000.0, 'credit_score': 700, 'label': 'Not Fraud'}, {'user_id': 2, 'age': 45, 'gender': 'Female', 'income': 60000.0, 'credit_score': 720, 'label': 'Not Fraud'}, {'user_id': 3, 'age': 30, 'gender': 'Male', 'income': 45000.0, 'credit_score': 680, 'label': 'Fraud'}, {'user_id': 4, 'age': 50, 'gender': 'Male', 'income': 70000.0, 'credit_score': 750, 'label': 'Not Fraud'}, {'user_id': 5, 'age': 40, 'gender': 'Female', 'income': 55000.0, 'credit_score': 710, 'label': 'Fraud'}]

   user_id  age  gender   income  credit_score      label
0        1   35    Male  50000.0           700  Not Fraud
1        2   45  Female  60000.0           720  Not Fraud
2        3   30    Male  45000.0           680      Fraud
3        4   50    Male  70000.0           750  Not Fraud
4        5   40  Female  55000.0           710      Fraud

#  create_df with  data transformation using z-score-norm & one-hot-encoding function ready for logistics regression

In [7]:
def z_score_normalization(data):
    mean = sum(data) / len(data)
    # print(mean)
    stdev = (sum((x-mean) **2 for x in data) /len(data)) **0.5
    # print(stdev)
    data_norm = [( x-mean) /stdev for x in data]
    # print(data_norm)
    return(data_norm)


def one_hot_encode(data):
    unique_values = set(data)
    # print('unique_values', unique_values)
    encoding = {}
    
    for i, value in enumerate(unique_values):
        # print('i',i)
        # print('value',value)

        # this is the formula to create binary for every possible uniq class (one-hot encoding)
        encoding[value] = [0] *i + [1]+[0]* (len(unique_values) - i - 1)
        # print('encoding[value]',encoding[value])
    # print('encoding', encoding)
    encoded_data = [ encoding[value]  for value in data]
    return(encoded_data)

In [8]:
# j
 # list of dictionary/json
column_info = [
    {"user_id": int},
    {"age": int},
    {"gender": str},
    {"income": float},
    {"credit_score": int},
]

# i 
# list of list
# data = [
#     [1, 35, "Male", 50000.0, 700,],
#     [2, 45, "Female", 60000.0, 720,],
#     [3, 30, "Male", 45000.0, 680, ],
#     [4, 50, "Male", 70000.0, 750, ],
#     [5, 40, "Female", 55000.0, 710,]
# ]

data = [
    [1, 35, "Male", 50000.0, 700,],
    [2, 45, "Mix", 60000.0, 720,],
    [3, 30, "Male", 45000.0, 680, ],
    [4, 50, "Mix", 70000.0, 750, ],
    [5, 40, "Female", 55000.0, 710,]
]

user_labels = [
    [1, "Not Fraud"],
    [2, "Not Fraud"],
    [3, "Fraud"],
    [4, "Not Fraud"],
    [5, "Fraud"]
]

In [202]:

#  create_df with  data transformation uusing z-score-norm & one-hot-encoding function

def create_df_normalized(column_info, data, user_labels):
    rows = []
    for i in range(len(data)):
        row = {}
        for j, column_dict in enumerate(column_info):
            col_name = list(column_dict.keys())[0]
            col_type = list(column_dict.values())[0]
            col_data = data[j][i]
            # print('col_data',col_data)
            # print('col_name',col_name)
            # print('col_type',col_type)

            if (col_type == int or col_type == float) and col_name != 'user_id':
                col_data_norm = z_score_normalization([entry[j] for entry in data])
            elif col_type == str:
                col_data_norm = one_hot_encode([entry[j] for entry in data])

            else:
                continue
           
            # print('col_data_norm[i]',col_data_norm[i])
            row[col_name] = col_data_norm[i]
            # print('row[col_name]', row[col_name])
        row['user_id'] = user_labels[i][0]
        row['label'] = user_labels[i][1]
        
        print('row', row)
        rows.append(row)
    return(rows)

list_dict = create_df_normalized(column_info, data, user_labels)

print(list_dict)
df = pd.DataFrame(list_dict)
df

row {'age': -0.7071067811865475, 'gender': [0, 1, 0], 'income': -0.6974858324629157, 'credit_score': -0.5183210553488161, 'user_id': 1, 'label': 'Not Fraud'}
row {'age': 0.7071067811865475, 'gender': [1, 0, 0], 'income': 0.46499055497527714, 'credit_score': 0.34554737023254406, 'user_id': 2, 'label': 'Not Fraud'}
row {'age': -1.414213562373095, 'gender': [0, 1, 0], 'income': -1.278724026182012, 'credit_score': -1.3821894809301762, 'user_id': 3, 'label': 'Fraud'}
row {'age': 1.414213562373095, 'gender': [1, 0, 0], 'income': 1.62746694241347, 'credit_score': 1.6413500086045842, 'user_id': 4, 'label': 'Not Fraud'}
row {'age': 0.0, 'gender': [0, 0, 1], 'income': -0.11624763874381928, 'credit_score': -0.08638684255813601, 'user_id': 5, 'label': 'Fraud'}
[{'age': -0.7071067811865475, 'gender': [0, 1, 0], 'income': -0.6974858324629157, 'credit_score': -0.5183210553488161, 'user_id': 1, 'label': 'Not Fraud'}, {'age': 0.7071067811865475, 'gender': [1, 0, 0], 'income': 0.46499055497527714, 'credit_score': 0.34554737023254406, 'user_id': 2, 'label': 'Not Fraud'}, {'age': -1.414213562373095, 'gender': [0, 1, 0], 'income': -1.278724026182012, 'credit_score': -1.3821894809301762, 'user_id': 3, 'label': 'Fraud'}, {'age': 1.414213562373095, 'gender': [1, 0, 0], 'income': 1.62746694241347, 'credit_score': 1.6413500086045842, 'user_id': 4, 'label': 'Not Fraud'}, {'age': 0.0, 'gender': [0, 0, 1], 'income': -0.11624763874381928, 'credit_score': -0.08638684255813601, 'user_id': 5, 'label': 'Fraud'}]

        age     gender    income  credit_score  user_id      label
0 -0.707107  [0, 1, 0] -0.697486     -0.518321        1  Not Fraud
1  0.707107  [1, 0, 0]  0.464991      0.345547        2  Not Fraud
2 -1.414214  [0, 1, 0] -1.278724     -1.382189        3      Fraud
3  1.414214  [1, 0, 0]  1.627467      1.641350        4  Not Fraud
4  0.000000  [0, 0, 1] -0.116248     -0.086387        5      Fraud

#  join list of dictionary/json & list of lists & filter only numerical features value for logistic regression
### convert date /datetime /booleean into numerical & remove categorical

In [196]:
#3 give a list of dictionary /json with type and colname speccification and list of lists for record features values, 
# also a dictionary for label of the data; make a final output which are list of lists of all nbr presenting featurs capable of having in logistic regression

param_schema = [
    {"type": "ID", "name": "user_id"},
    {"type": "Date", "name": "registration_date"},
    {"type": "DateTime", "name": "last_login"},
    {"type": "String", "name": "gender"},
    {"type": "Float", "name": "income"},
    {"type": "Integer", "name": "age"},
    {"type": "Boolean", "name": "is_fraud"}
]

training_data = [
    [1, "2022-01-01", "2022-01-10 08:30:00", "Male", 50000.0, 35, True],
    [2, "2022-01-02", "2022-01-11 09:45:00", "Female", 60000.0, 45, False],
    [3, "2022-01-03", "2022-01-12 10:00:00", "Male", 45000.0, 30, True],
    [4, "2022-01-04", "2022-01-13 11:15:00", "Male", 70000.0, 50, False],
    [5, "2022-01-05", "2022-01-14 12:30:00", "Female", 55000.0, 40, True]
]

label_data = {"ID": True}

########################################################################################
# output_data = [
#     [1, 16436, 16436, 50000.0, 35, 1],
#     [2, 16437, 16437, 60000.0, 45, 0],
#     [3, 16438, 16438, 45000.0, 30, 1],
#     [4, 16439, 16439, 70000.0, 50, 0],
#     [5, 16440, 16440, 55000.0, 40, 1]
# ]

In [201]:
import datetime as dt
def create_df_rm_categorical(param_schema, training_data, label_data):
    
    rows = []
    # i  up to 5
    for i in range(len(training_data)):
        
        row = {}
        
        # j up to 7
        for j, columnn_dict in enumerate(param_schema):

            col_type = list(columnn_dict.values())[0]
            col_name = list(columnn_dict.values())[1]
            col_data = training_data[i][j]
            # print(len(training_data[0]))
            # print('col_data',col_data)
            # print('col_name',col_name)
            # print('col_type',col_type)

            # the three if-else are mutually exclusive so need to treat it as a group of if-else conditions tgt
            if col_type == 'Date':
                col_data = dt.datetime.strptime(col_data, '%Y-%m-%d').timestamp()

            elif col_type == 'DateTime':
                col_data = dt.datetime.strptime(col_data, '%Y-%m-%d %H:%M:%S').timestamp()

            elif col_type == "Boolean":
                col_data = [entry[j] for entry in training_data]
                print(col_data)
                col_data = [1 if x == True else 0  for x in col_data]


            # exclude string feature at the same time while joining, this if-else is diff condition after reformat the 3 col type above, 
            if col_type != 'String':
                # print(col_type)
                # print(col_name)
                # print(col_data)
                row[col_name] = col_data
                # print(row)
        row[col_name] = col_data[i]

        rows.append(row)        

        
        # print(row)
        print('*' *100)



    return(rows)

list_dict = create_df_rm_categorical(param_schema, training_data, label_data)
print(list_dict)
df = pd.DataFrame(list_dict)
df

[True, False, True, False, True]
****************************************************************************************************
[True, False, True, False, True]
****************************************************************************************************
[True, False, True, False, True]
****************************************************************************************************
[True, False, True, False, True]
****************************************************************************************************
[True, False, True, False, True]
****************************************************************************************************
[{'user_id': 1, 'registration_date': 1641024000.0, 'last_login': 1641832200.0, 'income': 50000.0, 'age': 35, 'is_fraud': 1}, {'user_id': 2, 'registration_date': 1641110400.0, 'last_login': 1641923100.0, 'income': 60000.0, 'age': 45, 'is_fraud': 0}, {'user_id': 3, 'registration_date': 1641196800.0, 'last_login': 1642010400.0, 'income': 45000.0, 'age': 30, 'is_fraud': 1}, {'user_id': 4, 'registration_date': 1641283200.0, 'last_login': 1642101300.0, 'income': 70000.0, 'age': 50, 'is_fraud': 0}, {'user_id': 5, 'registration_date': 1641369600.0, 'last_login': 1642192200.0, 'income': 55000.0, 'age': 40, 'is_fraud': 1}]

   user_id  registration_date    last_login   income  age  is_fraud
0        1       1.641024e+09  1.641832e+09  50000.0   35         1
1        2       1.641110e+09  1.641923e+09  60000.0   45         0
2        3       1.641197e+09  1.642010e+09  45000.0   30         1
3        4       1.641283e+09  1.642101e+09  70000.0   50         0
4        5       1.641370e+09  1.642192e+09  55000.0   40         1

#  join list of dictionary/json & list of lists & convert to ALL numerical features value when necessary for logistic regression
### This means that date / datetime / boolean / string all need to convert differently that can convert into all numerical
### output: nested list which list items are numerical values of input features (from original /converted columns)

In [191]:
#3 give a list of dictionary /json with type and colname speccification and list of lists for record features values, 
# also a dictionary for label of the data; make a final output which are list of lists of all nbr presenting featurs capable of having in logistic regression

param_schema = [
    {"type": "ID", "name": "user_id"},
    {"type": "Date", "name": "registration_date"},
    {"type": "DateTime", "name": "last_login"},
    {"type": "String", "name": "gender"},
    {"type": "Float", "name": "income"},
    {"type": "Integer", "name": "age"},
    {"type": "Boolean", "name": "is_fraud"}
]

training_data = [
    [1, "2022-01-01", "2022-01-10 08:30:00", "Male", 50000.0, 35, True],
    [2, "2022-01-02", "2022-01-11 09:45:00", "Female", 60000.0, 45, False],
    [3, "2022-01-03", "2022-01-12 10:00:00", "Male", 45000.0, 30, True],
    [4, "2022-01-04", "2022-01-13 11:15:00", "Male", 70000.0, 50, False],
    [5, "2022-01-05", "2022-01-14 12:30:00", "Female", 55000.0, 40, True]
]

label_data = {"ID": True}

########################################################################################
# output_data = [
#     [1, 16436, 16436, 50000.0, 35, 1],
#     [2, 16437, 16437, 60000.0, 45, 0],
#     [3, 16438, 16438, 45000.0, 30, 1],
#     [4, 16439, 16439, 70000.0, 50, 0],
#     [5, 16440, 16440, 55000.0, 40, 1]
# ]

In [194]:
import datetime as dt
def create_df_all_numerical(param_schema, training_data, label_data):
    
    rows = []
    
    rows_values = []
    # i  up to 5
    for i in range(len(training_data)):
        
        row = {}
        
        # j up to 7
        for j, columnn_dict in enumerate(param_schema):

            col_type = list(columnn_dict.values())[0]
            col_name = list(columnn_dict.values())[1]
            
            # this allow to get one column at a time from training_data
            col_data = [entry[j] for entry in training_data]

            # the three if-else are mutually exclusive so need to treat it as a group of if-else conditions tgt
            if col_type == 'Date':
                # col_data = dt.datetime.strptime(col_data, '%Y-%m-%d').timestamp()
                col_data= [dt.datetime.strptime(x, '%Y-%m-%d').timestamp() for x in col_data]

            elif col_type == 'DateTime':
                col_data = [dt.datetime.strptime(x, '%Y-%m-%d %H:%M:%S').timestamp() for x in col_data]
                # print('col_data',col_data)

            elif col_type == "Boolean":
                col_data = [1 if x == True else 0  for x in col_data]

            elif col_type == 'String':
                col_data = one_hot_encode(col_data)
            row[col_name] = col_data[i]

        # this block try to only obtain all value from all key and output individually
        row_values = list(row.values())    
        flat_list = []   
        # underscore "-" is used as placeholder when you need to perform operation on each element without actually ref to the element itself
        # usually list comprehension is for create list, not for extend() or append() which is done here.
        _ = [ flat_list.extend(flatten(x)) if isinstance(x,list) else flat_list.append(x) for x in row_values]

        # print(row_values)
        # rows contains items of dictionary which key:value are colname:colvalue pair
        rows.append(row)
        rows_values.append(flat_list)
        # rows_values.append(row_values)   #just use row_values if want the unflatten version of all values in nested list

    print('*' *100)
    return(rows, rows_values)

list_dict , list_values = create_df_all_numerical(param_schema, training_data, label_data)

print('list_dict\n',list_dict)
print('*' *100)
print('list_values flatten\n', list_values)
print('*' *100)

df = pd.DataFrame(list_dict)
df

****************************************************************************************************
list_dict
 [{'user_id': 1, 'registration_date': 1641024000.0, 'last_login': 1641832200.0, 'gender': [1, 0], 'income': 50000.0, 'age': 35, 'is_fraud': 1}, {'user_id': 2, 'registration_date': 1641110400.0, 'last_login': 1641923100.0, 'gender': [0, 1], 'income': 60000.0, 'age': 45, 'is_fraud': 0}, {'user_id': 3, 'registration_date': 1641196800.0, 'last_login': 1642010400.0, 'gender': [1, 0], 'income': 45000.0, 'age': 30, 'is_fraud': 1}, {'user_id': 4, 'registration_date': 1641283200.0, 'last_login': 1642101300.0, 'gender': [1, 0], 'income': 70000.0, 'age': 50, 'is_fraud': 0}, {'user_id': 5, 'registration_date': 1641369600.0, 'last_login': 1642192200.0, 'gender': [0, 1], 'income': 55000.0, 'age': 40, 'is_fraud': 1}]
****************************************************************************************************
list_values flatten
 [[1, 1641024000.0, 1641832200.0, 1, 0, 50000.0, 35, 1], [2, 1641110400.0, 1641923100.0, 0, 1, 60000.0, 45, 0], [3, 1641196800.0, 1642010400.0, 1, 0, 45000.0, 30, 1], [4, 1641283200.0, 1642101300.0, 1, 0, 70000.0, 50, 0], [5, 1641369600.0, 1642192200.0, 0, 1, 55000.0, 40, 1]]
****************************************************************************************************

   user_id  registration_date    last_login  gender   income  age  is_fraud
0        1       1.641024e+09  1.641832e+09  [1, 0]  50000.0   35         1
1        2       1.641110e+09  1.641923e+09  [0, 1]  60000.0   45         0
2        3       1.641197e+09  1.642010e+09  [1, 0]  45000.0   30         1
3        4       1.641283e+09  1.642101e+09  [1, 0]  70000.0   50         0
4        5       1.641370e+09  1.642192e+09  [0, 1]  55000.0   40         1