# Data Manipulation

In [65]:
import pandas as pd
import numpy as np

In [ ]:
 # leetcode medium string compression

In [37]:
# Given a list of strings, find the smallest unique substring for each string.

lst = ["hello", "world", "apple", "banana", "cat", "dog", "moon", "sun", "rainbow"]

[len(set(x)) for x in lst]

def smallest_uniq_substring(lst):
    
    lst_item_uniq_cnt = [len(set(x)) for x in lst]
    min_uniq_cnt = float('inf')
    min_uniq_idx = -1
    
    min_uniq_ct_list = []
    min_uniq_idx_list = []

    for idx, word in enumerate(lst):
        # print('idx',idx)
        uniq_char = set(word)
        uniq_cnt = len(uniq_char)
    
        if uniq_cnt < min_uniq_cnt:
            min_uniq_cnt = uniq_cnt
            
    idx_has_min_uniq_ct = [index for index, cnt in enumerate(lst_item_uniq_cnt) if cnt == min_uniq_cnt]
    return(idx_has_min_uniq_ct)
            
index_has_min_uniq_ct = smallest_uniq_substring(lst)

[lst[idx] for idx in index_has_min_uniq_ct]
# print(index_has_min_uniq_ct)

['banana', 'cat', 'dog', 'moon', 'sun']

In [15]:
[len(set(x)) for x in lst]

[4, 5, 4, 3, 3, 3, 3, 3, 7]

In [68]:
# join all these objects together by user_id and convert into df? then try to feature engineer later for ML

# column_info = [
#     {"user_id": int},
#     {"age": int},
#     {"gender": str},
#     {"income": float},
#     {"credit_score": int},
#     {"fraud_label": str}
# ]

# data = [
#     [1, 35, "Male", 50000.0, 700, "Not Fraud"],
#     [2, 45, "Female", 60000.0, 720, "Not Fraud"],
#     [3, 30, "Male", 45000.0, 680, "Fraud"],
#     [4, 50, "Male", 70000.0, 750, "Not Fraud"],
#     [5, 40, "Female", 55000.0, 710, "Fraud"]
# ]

# user_labels = [
#     [1, "Not Fraud"],
#     [2, "Not Fraud"],
#     [3, "Fraud"],
#     [4, "Not Fraud"],
#     [5, "Fraud"]
# ]


column_info = [
    {"user_id": int},
    {"age": int},
    {"gender": str},
    {"income": float},
    {"credit_score": int},
]

data = [
    [1, 35, "Male", 50000.0, 700,],
    [2, 45, "Female", 60000.0, 720,],
    [3, 30, "Male", 45000.0, 680, ],
    [4, 50, "Male", 70000.0, 750, ],
    [5, 40, "Female", 55000.0, 710,]
]

user_labels = [
    [1, "Not Fraud"],
    [2, "Not Fraud"],
    [3, "Fraud"],
    [4, "Not Fraud"],
    [5, "Fraud"]
]

In [77]:

def create_df(column_info, data, user_labels):
    
    rows = []
    
    # i = 5
    for i in range(len(data)):
        
        row = {}
        # j = 6
        for j in range(len(column_info)):
            
            col_name =  list(column_info[j].keys())[0]
            row[col_name] = data[i][j]
            # print(col_name)
            # print(row[col_name])
            
        
        row['user_id'] = user_labels[i][0]
        row['label'] = user_labels[i][1]       

        print(row)
        rows.append(row)
    
    
    return(rows)

list_dict = create_df(column_info, data, user_labels)

print(list_dict)
df = pd.DataFrame(list_dict)
df

{'user_id': 1, 'age': 35, 'gender': 'Male', 'income': 50000.0, 'credit_score': 700, 'label': 'Not Fraud'}
{'user_id': 2, 'age': 45, 'gender': 'Female', 'income': 60000.0, 'credit_score': 720, 'label': 'Not Fraud'}
{'user_id': 3, 'age': 30, 'gender': 'Male', 'income': 45000.0, 'credit_score': 680, 'label': 'Fraud'}
{'user_id': 4, 'age': 50, 'gender': 'Male', 'income': 70000.0, 'credit_score': 750, 'label': 'Not Fraud'}
{'user_id': 5, 'age': 40, 'gender': 'Female', 'income': 55000.0, 'credit_score': 710, 'label': 'Fraud'}
[{'user_id': 1, 'age': 35, 'gender': 'Male', 'income': 50000.0, 'credit_score': 700, 'label': 'Not Fraud'}, {'user_id': 2, 'age': 45, 'gender': 'Female', 'income': 60000.0, 'credit_score': 720, 'label': 'Not Fraud'}, {'user_id': 3, 'age': 30, 'gender': 'Male', 'income': 45000.0, 'credit_score': 680, 'label': 'Fraud'}, {'user_id': 4, 'age': 50, 'gender': 'Male', 'income': 70000.0, 'credit_score': 750, 'label': 'Not Fraud'}, {'user_id': 5, 'age': 40, 'gender': 'Female', 'income': 55000.0, 'credit_score': 710, 'label': 'Fraud'}]

   user_id  age  gender   income  credit_score      label
0        1   35    Male  50000.0           700  Not Fraud
1        2   45  Female  60000.0           720  Not Fraud
2        3   30    Male  45000.0           680      Fraud
3        4   50    Male  70000.0           750  Not Fraud
4        5   40  Female  55000.0           710      Fraud