# computation & Feature Engineerinng

In [41]:
from scipy import stats
import numpy as np
import statistics
import os
import pandas as pd
from collections import Counter

pd.set_option('display.max_rows', None, 'display.max_columns', None, 'display.width', None)  # Show all rows

In [12]:
arr = [23, 45, 12, 78, 56, 34, 90, 21, 67, 89,
                   43, 76, 32,3,5,7,2,3,4,5,2,5,6, 54, 87, 65, 98, 10, 55, 20,
                   88, 77, 44, 11, 33, 66, 99, 22, 57, 80]

In [33]:
mode = stats.mode(arr, axis=None, keepdims=True)
mean = np.mean(arr)
# np.average(arr)
median = np.median(arr)
minimum = min(arr)
maximum = max(arr)
the_range = (maximum - minimum)
variance = np.var(arr)
std_deviation = np.std(arr)
# statistics.variance(arr)
# statistics.stdev(arr)

In [3]:
os.chdir('/Users/emilyli/workspace/datasets/')

# df= pd.read_csv("Iris.csv")
df= pd.read_csv("Video_Games.csv")


df.columns = df.columns.str.lower()

## Reading Different Data Sources in as dataframe

In [ ]:
# read .csv file
df = pd.read_csv('filename.csv')

# read excel file
df = pd.read_excel('filename.xlsx')

# read .json file
df = pd.read_json('filename.json')

# read in sql table
from sqlalchemy import create_engine
engine = create_engine('sqlite:///database.dv')

qstrinig = 'select * from tablename"
df = pd.read_sql(qstring, con = engine)

# read a html table into dataframe
dfs = pd.read_html('https;//url-to-webpage')
df = dfs[0]

In [15]:
os.chdir('/Users/emilyli/workspace/datasets/airbnb_market_analysis_and_real_estate_sales_data')
df2 = pd.read_csv('market_analysis_2019.csv', sep = ';')
df3 = pd.read_csv('market_analysis.csv', sep = ';')
df4 = pd.read_csv('amenities.csv', sep = ';')

df_joint = pd.concat([df2,df3],ignore_index = True, axis = 0)
df_joint['month'] = pd.to_datetime(df_joint['month'])
df4['month'] = pd.to_datetime(df4['month'])

df_joint['ym'] = df_joint['month'].dt.strftime('%Y-%m')
df_joint['yr'] = df_joint['month'].dt.year
df_joint['mo'] = df_joint['month'].dt.month

In [23]:
# subset df w/ numerical col
df_num = df.select_dtypes(include=['number'])
# all numerical col in df
numerical_columns = df.select_dtypes(include=['number']).columns
numerical_columns

# subset df w/ categorical col
df_cat = df.select_dtypes(include=['object'])
# all categorical col in df
categorical_columns = df.select_dtypes(include=['object']).columns
categorical_columns

# subset df w/ date col
df_dt = df_joint.select_dtypes(include=['datetime64'])
# all date col in df
date_columns = df_joint.select_dtypes(include=['datetime64']).columns
date_columns

# merge sub-df top to bottom rbind, same col name
df_joint = pd.concat([df2,df3],ignore_index = True, axis = 0)
df_joint['month'] = pd.to_datetime(df_joint['month'])

# get dt in ym
df_joint['ym'] = df_joint['month'].dt.strftime('%Y-%m')
# get dt in yr
df_joint['yr'] = df_joint['month'].dt.year
# get dt in mo
df_joint['mo'] = df_joint['month'].dt.month

Index(['month'], dtype='object')

In [ ]:
# show the categorical feature level distribution;
for col in df4.columns:
    # print(col)
    try:
        if df4[col].dtype == 'object':
            # If the column is categorical (dtype == 'object'), apply Counter() to count occurrences
            counts = Counter(df4[col])
            # print(f"Counts for column '{col}':")
            print(counts)
    except:
        next

In [4]:
df.columns

Index(['index', 'name', 'platform', 'year_of_release', 'genre', 'publisher',
       'na_sales', 'eu_sales', 'jp_sales', 'other_sales', 'global_sales',
       'critic_score', 'critic_count', 'user_score', 'user_count', 'developer',
       'rating'],
      dtype='object')

In [5]:
df.shape

(16928, 17)

In [11]:
df.head()

,name,platform,year_of_release,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,developer,rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.dtypes

name                object
platform            object
year_of_release    float64
genre               object
publisher           object
na_sales           float64
eu_sales           float64
jp_sales           float64
other_sales        float64
global_sales       float64
critic_score       float64
critic_count       float64
user_score          object
user_count         float64
developer           object
rating              object
dtype: object

In [10]:
df.drop(['index'], axis =1 , inplace = True)

In [38]:
# show the categorical feature level distribution;
for col in df.columns:
    # print(col)
    try:
        # if df[col].dtype == 'object':
        if df[col].dtype == 'object' and  df[col].nunique() <= 50:

            print(col)
            print(df[col].nunique())
            # If the column is categorical (dtype == 'object'), apply Counter() to count occurrences
            counts = Counter(df[col])
            print(f"Counts for column '{col}':")
            print(counts)
    except:
        next

platform
31
Counts for column 'platform':
Counter({'PS2': 2188, 'DS': 2164, 'PS3': 1359, 'Wii': 1337, 'X360': 1280, 'PSP': 1216, 'PS': 1214, 'PC': 982, 'GBA': 839, 'XB': 832, 'GC': 564, '3DS': 530, 'PSV': 436, 'PS4': 399, 'N64': 325, 'XOne': 253, 'SNES': 242, 'SAT': 175, 'WiiU': 148, '2600': 136, 'GB': 99, 'NES': 98, 'DC': 52, 'GEN': 29, 'NG': 12, 'SCD': 6, 'WS': 6, '3DO': 3, 'TG16': 2, 'GG': 1, 'PCFX': 1})
genre
12
Counts for column 'genre':
Counter({'Action': 3410, 'Sports': 2380, 'Misc': 1773, 'Role-Playing': 1519, 'Shooter': 1347, 'Adventure': 1313, 'Racing': 1266, 'Platform': 904, 'Simulation': 880, 'Fighting': 863, 'Strategy': 689, 'Puzzle': 582, nan: 2})
rating
8
Counts for column 'rating':
Counter({nan: 6836, 'E': 4043, 'T': 3003, 'M': 1590, 'E10+': 1441, 'EC': 8, 'K-A': 3, 'RP': 3, 'AO': 1})

In [29]:
df.head()

,name,platform,year_of_release,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,developer,rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df.describe()

,year_of_release,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_count
count,16655.00000,16928.000000,16928.000000,16928.000000,16928.000000,16928.000000,8260.000000,8260.000000,7718.000000
mean,2006.48532,0.266390,0.146850,0.078170,0.047861,0.539520,69.037893,26.428692,163.269629
std,5.88289,0.814326,0.504585,0.308756,0.186675,1.550545,13.943198,18.989929,562.786746
min,1980.00000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.00000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.00000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,22.000000,25.000000
75%,2010.00000,0.240000,0.110000,0.040000,0.040000,0.490000,79.000000,36.000000,82.000000
max,2020.00000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [107]:
# df.shape

# filter rows for specific values in a col
target_publisher = ['Ubisoft','Sega','THQ','Nintendo']
df1 = df[df['publisher'].isin(target_publisher)]
# filter rows for NaN in two specific col
df1.dropna(subset = ['user_score', 'year_of_release'], how = 'any', inplace = True)
df1.loc[:, 'year_of_release'] = df1['year_of_release'].astype(int)
df1 = df1[df1['user_score'] != 'tbd']
df1.loc[:, 'user_score'] = df1['user_score'].astype(float)
df1.shape

/var/folders/2r/5hbyh8qj3kz1zp9byqns38rh0000gn/T/ipykernel_1107/2350822435.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(subset = ['user_score', 'year_of_release'], how = 'any', inplace = True)

(1511, 16)

In [102]:
df1[select_features].dtypes

name                object
platform            object
year_of_release      int64
genre               object
publisher           object
user_score          object
user_count         float64
cnt_genre_0          int64
cnt_genre_1          int64
dtype: object

In [163]:
# df1[select_features].sort_values(by = ['genre','user_score']).head(20)
df1[select_features].head(30)

,name,platform,year_of_release,genre,publisher,user_score,uscore_cummean_by_genre,user_count,ucnt_cumsum_by_genre,ucnt_cummax_by_genre,ucnt_cummin_by_genre,cnt_genre_0,cnt_genre_1,user_score_mean
0,Wii Sports,Wii,2006.0,Sports,Nintendo,8.0,8.000,322.0,322.0,322.0,322.0,0.0,1.0,8.00
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,8.3,8.300,709.0,709.0,709.0,709.0,0.0,1.0,8.15
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,8.0,8.000,192.0,514.0,322.0,192.0,1.0,2.0,8.10
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,8.5,8.500,431.0,431.0,431.0,431.0,0.0,1.0,8.20
7,Wii Play,Wii,2006.0,Misc,Nintendo,6.6,6.600,129.0,129.0,129.0,129.0,0.0,1.0,7.88
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,8.4,8.450,594.0,1025.0,594.0,431.0,1.0,2.0,7.97
11,Mario Kart DS,DS,2005.0,Racing,Nintendo,8.6,8.450,464.0,1173.0,709.0,464.0,1.0,2.0,8.06
13,Wii Fit,Wii,2007.0,Sports,Nintendo,7.7,7.900,146.0,660.0,322.0,146.0,2.0,3.0,8.01
15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,7.4,7.775,52.0,712.0,322.0,52.0,3.0,4.0,7.94
19,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,7.9,7.250,50.0,179.0,129.0,50.0,1.0,2.0,7.94
26,Brain Age 2: More Training in Minutes a Day,DS,2005.0,Puzzle,Nintendo,7.1,7.100,19.0,19.0,19.0,19.0,0.0,1.0,7.86
39,Super Smash Bros. Brawl,Wii,2008.0,Fighting,Nintendo,8.9,8.900,1662.0,1662.0,1662.0,1662.0,0.0,1.0,7.95
40,Mario Kart 7,3DS,2011.0,Racing,Nintendo,8.2,8.367,632.0,1805.0,709.0,464.0,2.0,3.0,7.97
43,Animal Crossing: Wild World,DS,2005.0,Simulation,Nintendo,8.7,8.700,242.0,242.0,242.0,242.0,0.0,1.0,8.02
49,Super Mario Galaxy,Wii,2007.0,Platform,Nintendo,8.9,8.600,2147.0,3172.0,2147.0,431.0,2.0,3.0,8.08
53,Super Mario 3D Land,3DS,2011.0,Platform,Nintendo,8.4,8.550,921.0,4093.0,2147.0,431.0,3.0,4.0,8.10
61,Just Dance 3,Wii,2011.0,Misc,Ubisoft,7.8,7.433,16.0,195.0,129.0,16.0,2.0,3.0,8.08
62,New Super Mario Bros. 2,3DS,2012.0,Platform,Nintendo,7.2,8.280,424.0,4517.0,2147.0,424.0,4.0,5.0,8.03
68,Just Dance 2,Wii,2010.0,Misc,Ubisoft,7.3,7.400,24.0,219.0,129.0,16.0,3.0,4.0,7.99
73,Animal Crossing: New Leaf,3DS,2012.0,Simulation,Nintendo,8.7,8.700,626.0,868.0,626.0,242.0,1.0,2.0,8.03
74,Mario Party DS,DS,2007.0,Misc,Nintendo,7.8,7.480,85.0,304.0,129.0,16.0,4.0,5.0,8.02
79,Wii Party,Wii,2010.0,Misc,Nintendo,7.4,7.467,54.0,358.0,129.0,16.0,5.0,6.0,7.99
80,Mario Party 8,Wii,2007.0,Misc,Nintendo,6.3,7.300,190.0,548.0,190.0,16.0,6.0,7.0,7.92
90,Pokémon Platinum Version,DS,2008.0,Role-Playing,Nintendo,8.5,8.500,203.0,203.0,203.0,203.0,0.0,1.0,7.94
97,Super Mario Galaxy 2,Wii,2010.0,Platform,Nintendo,9.1,8.417,1854.0,6371.0,2147.0,424.0,5.0,6.0,7.99
103,Just Dance,Wii,2009.0,Misc,Ubisoft,8.0,7.388,110.0,658.0,190.0,16.0,7.0,8.0,7.99
107,The Legend of Zelda: Twilight Princess,Wii,2006.0,Action,Nintendo,9.0,9.000,1658.0,1658.0,1658.0,1658.0,0.0,1.0,8.03
110,Mario Kart 8,WiiU,2014.0,Racing,Nintendo,9.1,8.550,1599.0,3404.0,1599.0,464.0,3.0,4.0,8.06
111,Super Smash Bros. Melee,GC,2001.0,Fighting,Nintendo,9.1,9.000,568.0,2230.0,1662.0,568.0,1.0,2.0,8.10
116,Just Dance 4,Wii,2012.0,Misc,Ubisoft,7.3,7.378,28.0,686.0,190.0,16.0,8.0,9.0,8.07

In [161]:
select_features = ['name', 'platform', 'year_of_release', 'genre', 'publisher',
                    # 'na_sales','eu_sales', 'jp_sales', 'other_sales', 'global_sales',
                    # 'critic_score','critic_count', 
                    'user_score', 'uscore_cummean_by_genre', 'user_count', 'ucnt_cumsum_by_genre','ucnt_cummax_by_genre','ucnt_cummin_by_genre',
                    # 'developer', 'rating' ,
                    'cnt_genre_0', 'cnt_genre_1' ,'user_score_mean', 
                    ]

In [110]:
df1.columns

Index(['name', 'platform', 'year_of_release', 'genre', 'publisher', 'na_sales',
       'eu_sales', 'jp_sales', 'other_sales', 'global_sales', 'critic_score',
       'critic_count', 'user_score', 'user_count', 'developer', 'rating',
       'cnt_genre_0', 'cnt_genre_1', 'user_score_mean'],
      dtype='object')

In [160]:
# add a counter / cumcount for each category of the groupby feature start at 0
df1.loc[:,'cnt_genre_0'] = df1.groupby(['genre']).cumcount() 
# add a counter / cumcount for each category of the groupby feature start at 1
df1.loc[:,'cnt_genre_1'] = df1.groupby(['genre']).cumcount() + 1
# simple cumulative mean of a numerical feature
df1.loc[:,'user_score_mean'] = df1['user_score'].expanding().mean().round(2)

# get cummean of a num col for every category of another categorical (genre)
# df1.loc[:,'uscore_cummean_by_genre'] = df1.groupby('genre')['user_score'].expanding().mean().round(3)
df1.loc[:,'uscore_cummean_by_genre'] = df1.groupby('genre')['user_score'].transform(lambda x: x.expanding().mean().round(3))

# get cumsum of a num col for every category of another categorical (genre)
df1['ucnt_cumsum_by_genre'] = df1.groupby('genre')['user_count'].transform(lambda x: x.expanding().sum())

df1['ucnt_cummax_by_genre'] = df1.groupby('genre')['user_count'].transform(lambda x: x.expanding().max())


df1['ucnt_cummin_by_genre'] = df1.groupby('genre')['user_count'].transform(lambda x: x.expanding().min())

In [165]:
df1.groupby(['genre']).agg({'user_count':'max',
                           'user_score':['min','max']})

             user_count user_score
                    max        min  max
genre
Action           3288.0        2.2  9.3
Adventure        1074.0        0.0  9.4
Fighting         1662.0        2.8  9.1
Misc              471.0        3.3  9.0
Platform         2147.0        2.5  9.3
Puzzle            377.0        1.3  9.2
Racing           1599.0        2.1  9.3
Role-Playing     1739.0        4.8  9.5
Shooter          3183.0        1.4  9.3
Simulation        626.0        3.5  9.6
Sports            322.0        1.4  9.1
Strategy         6157.0        2.1  9.4

In [105]:
publisher_dist = Counter(df1.user_score)
publisher_dist



# {key: value for key, value in publisher_dist.items() if value <= 100}

Counter({'tbd': 464,
         '7.8': 65,
         '8': 64,
         '8.1': 64,
         '8.6': 57,
         '8.3': 56,
         '8.4': 56,
         '8.2': 54,
         '7.7': 52,
         '7.9': 52,
         '7': 52,
         '8.5': 50,
         '7.3': 49,
         '7.4': 48,
         '7.5': 44,
         '7.6': 41,
         '6.8': 40,
         '8.7': 35,
         '6.9': 35,
         '6': 35,
         '8.8': 31,
         '6.6': 30,
         '7.1': 30,
         '8.9': 30,
         '7.2': 30,
         '9': 27,
         '6.7': 26,
         '6.3': 25,
         '9.1': 20,
         '5.8': 20,
         '6.4': 20,
         '6.5': 19,
         '6.2': 17,
         '5.9': 16,
         '5': 15,
         '6.1': 14,
         '5.2': 13,
         '5.5': 13,
         '5.6': 11,
         '5.7': 11,
         '4.8': 11,
         '9.3': 10,
         '5.4': 10,
         '5.3': 10,
         '9.2': 8,
         '4.3': 8,
         '4.9': 6,
         '4.6': 6,
         '4.7': 6,
         '4.1': 5,
         '9.4': 5,
         '5.1': 5,
         '4.4': 5,
         '4.2': 5,
         '4': 4,
         '3.6': 4,
         '3': 4,
         '2.1': 3,
         '3.3': 3,
         '3.5': 3,
         '3.8': 2,
         '2.8': 2,
         '3.9': 2,
         '3.4': 2,
         '1.4': 2,
         '9.5': 1,
         '0': 1,
         '9.6': 1,
         '2.7': 1,
         '2.4': 1,
         '3.2': 1,
         '3.7': 1,
         '1.3': 1,
         '2.5': 1,
         '1.9': 1,
         '4.5': 1,
         '2.2': 1,
         '3.1': 1})